
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
      
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-right: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 30px;
        flex-shrink: 1;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 30%;
        flex: 1;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filters {
    
    flex-direction: column;
}

.activity-cards .card{
height: 270px;

}

}




/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /*** Main container ***/
    .main-container {
        padding: 0;
    }

    /*** Nav ***/
    nav {
        flex-direction: column;
        height: auto;
        padding: 0;
        align-items: center;
    }

    nav img {
        margin: 30px;
    }

    .nav-links {
        position: static; /* retire le position absolute */
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 0;
        border-top: 2px solid var(--main-bg-color);
        margin-top: 15px;
    }

    .nav-links a {
        flex: 1;
        text-align: center;
        padding: 15px 0;
        border-top: none;
    }

    .nav-links a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    /*** Header ***/
    .header-container {
        padding: 20px 20px;
    }

    .search-bar {
        width: 100%;
    }

    /*** Filtres ***/
    .filters {
        flex-wrap: wrap;
        height: auto;
        gap: 15px;
    }

    .filters button {
        height: 50px;
    }

    /*** Hebergements & Populaires ***/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements {
        margin-right: 0;
        order: 2; /* Hébergements passe en dessous */
        background-color: white !important;
    }

    .hebergements-cards {
        grid-template-columns: 1fr; /* 1 colonne sur mobile */
        grid-template-rows: auto;
    }

    .hebergements-cards article img {
        height: 200px; /* plus grande sur mobile */
    }

    /*** Populaires ***/
    .populaires {
        width: 100%;
        order: 1; /* Populaires passe en premier */
        flex-shrink: 1;
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
        gap: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /*** Activités ***/
    .activity {
        padding: 20px;
    }

    .activity-cards {
        flex-direction: column;
        gap: 20px;
    }

    .activity-cards .card {
        height: 200px;
        margin-top: 0;
        width: 100%;
    }

    /*** Footer ***/
    footer {
        flex-direction: column;
    }

    footer section {
        width: 100%;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
    }

 .search-bar button {
display: none;

 }
.search-bar-search-icon{
    display: flex;
}

.wrapper-filters-button{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 15px;

}

}
