/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --margin : 30px;/*variable pour que toutes les marge soit les mêmes*/
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 16px;
}

button{
font-size: 16px;

}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden; /*On masque les partie de l'image qui dépasse*/
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    align-items: stretch; /* Les deux sections = même hauteur */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    
}

/****** Hebergements ***********/
.hebergements {
    flex: 1;
    margin-right: 40px;
    display: flex;
    flex-direction: column; /* Pour que hebergements-cards puisse s'étirer */
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*3 colonne qui se partagent la largeur*/
    grid-template-rows: 1fr 1fr; /* 2 lignes qui se partagent la hauteur */
    flex: 1; /* Prend toute la hauteur restante de hebergements */
    padding: 10px;
}

.hebergements-cards article {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards article img {
    width: 100%;
    flex: 1; /* L'image remplit l'espace disponible */
    object-fit: cover;
}
/****** Populaires ***********/
.populaires {
    width: 419px;
    flex-shrink: 0;/*Evite de retrecire l'élément en cas de responsive*/
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    width: 100%;
    flex: 1;
}


.populaires-cards a {
    flex: 1; /* Chaque lien prend 1/3 de la hauteur */
    display: flex;
    margin-top: 15px;
}

.populaires-cards img {
    width: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    flex: 1; /* Remplit toute la hauteur de populaires */
    justify-content: space-between; /* Les cards se répartissent la hauteur */
}

/******CSS rajouter**********/

/***********Activitès**********************/
.activity{
margin-top: 33px;

}

.activity-cards{


display: flex;
flex-direction: row;
justify-content: center;

}

.activity-cards .card{
margin: 15px;
width: 25%;
}

.activity .card .card-title{
padding-left: 33px;

}

/******Footer*********/
footer {
display: flex;
flex-direction: row;
justify-content: center;
background-color: var(--main-bg-color);
margin-top: var(--margin)
}

footer section{

width: 33%;
margin: 10px;
}

footer section a{
    display: block;/*Permet de positionner les balise <a> en colonne*/
    padding: 5px;
}

/***********Navigation**********/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    padding: 30px;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    gap: 20px;
}

nav img{
      max-height: 100%; /* l'image s'adapte à la hauteur de la div */
    width: auto;      /* garde les proportions */
    object-fit: contain;
}

.nav-links a:hover{
color: var(--main-color);
border-top: 2px solid;
border-color: var(--main-color);
}

.header-container{
    padding: 20px;
}

/***********search bar****************/

.search-bar {
    display: flex;
    align-items: stretch;/*Les enfant prenne toutes la hauteur*/
    
    width: 377px;
    height: 49px ;
    border-radius: 15px;
    border: 2px solid;
    border-color: var(--filter-bg-color);
    overflow: hidden;
    margin: 35px 0px;
    
}

.search-bar input {
    flex: 1; /* prend tout l'espace disponible */
    
    border: none;        
}


.search-bar button {
    width: 110px;
    background-color: var(--main-color);
    color: white;
    border: none;   
    cursor: pointer;
    padding: 0 10px;
   
}


.fa-location-dot {
    color: black ;
    margin: 10px;
    
    
}
.icon-wrapper {
    
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--main-bg-color);
    
}

/*********Filter***********/
.filters {
    display: flex;
    gap: 10px;
    height: 50px;
    margin: 35px 0px;
}


.filters button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    height: 100%;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
    
    
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
